In [110]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import scipy
import seaborn as sns
import pandas_profiling

### 1. Write a Python program to create and display a one-dimensional array-like object containing an array of data using Pandas module

In [20]:
ds = pd.Series(([1,2,3,4,5,6]),index=['A','B','C','D','E','F'])
ds

A    1
B    2
C    3
D    4
E    5
F    6
dtype: int64

### 2. Write a Python program to convert a Panda module Series to Python list and it's type.

In [11]:
ds = pd.Series([2, 4, 6, 8, 10])
print("Pandas Series and type")
print(ds)

Pandas Series and type
0     2
1     4
2     6
3     8
4    10
dtype: int64

In [12]:
type(ds)

pandas.core.series.Series

In [25]:
print("convert Pandas Series to Python List")
ds.to_list()

convert Pandas Series to Python List

[1, 2, 3, 4, 5, 6]

In [40]:
type(ds.to_list())

list

### 3. Write a Python program to add, subtract, multiple and divide two Pandas Series.

In [42]:
ds1 = pd.Series([2, 4, 6, 8, 10])
ds2 = pd.Series([1, 3, 5, 7, 9])

In [43]:
ds1+ds2

0     3
1     7
2    11
3    15
4    19
dtype: int64

In [44]:
ds1*ds2

0     2
1    12
2    30
3    56
4    90
dtype: int64

In [45]:
ds1/ds2

0    2.000000
1    1.333333
2    1.200000
3    1.142857
4    1.111111
dtype: float64

In [46]:
ds1-ds2

0    1
1    1
2    1
3    1
4    1
dtype: int64

### 4. Write a Python program to get the largest integer smaller or equal to the division of the inputs. Go to the editor.

In [48]:
ds1

0     2
1     4
2     6
3     8
4    10
dtype: int64

In [49]:
ds2

0    1
1    3
2    5
3    7
4    9
dtype: int64

In [51]:
ds1==ds2

0    True
1    True
2    True
3    True
4    True
dtype: bool

In [52]:
ds1>ds2

0    False
1    False
2    False
3    False
4    False
dtype: bool

In [53]:
ds1<ds2

0    False
1    False
2    False
3    False
4    False
dtype: bool

### 5. Write a Python program to convert a dictionary to a Pandas series.

In [59]:
di = {'a': 100, 'b': 200, 'c': 300, 'd': 400, 'e': 800}
di

{'a': 100, 'b': 200, 'c': 300, 'd': 400, 'e': 800}

In [58]:
pd.Series(di)

a    100
b    200
c    300
d    400
e    800
dtype: int64

### 6. Write a Python program to convert a NumPy array to a Pandas series.

In [61]:
np = np.array([10,20,30,40,50])
np

array([10, 20, 30, 40, 50])

In [62]:
pd.Series(np)

0    10
1    20
2    30
3    40
4    50
dtype: int32

### 7. Write a Python program to change the data type of given a column or a Series.

In [69]:
s =pd.Series([100,200,'Python',300.12,400,'?'])
s

0       100
1       200
2    Python
3    300.12
4       400
5         ?
dtype: object

In [70]:
s1 =pd.to_numeric(s,errors='coerce') # it is used for only 1-D array,Series,Tuple

In [71]:
s1

0    100.00
1    200.00
2       NaN
3    300.12
4    400.00
5       NaN
dtype: float64

### 8. Write a Python Pandas program to convert the first column of a DataFrame as a Series.

In [79]:
df=pd.DataFrame({'col1': [1, 2, 3, 4, 7, 11], 'col2': [4, 5, 6, 9, 5, 0], 'col3': [7, 5, 8, 12, 1,11]})

In [80]:
df

   col1  col2  col3
0     1     4     7
1     2     5     5
2     3     6     8
3     4     9    12
4     7     5     1
5    11     0    11

In [81]:
pd.Series(df['col1'])

0     1
1     2
2     3
3     4
4     7
5    11
Name: col1, dtype: int64

In [84]:
cl=pd.Series(df['col3'])
cl

0     7
1     5
2     8
3    12
4     1
5    11
Name: col3, dtype: int64

In [85]:
type(cl)

pandas.core.series.Series

In [106]:
s1 = df.iloc[:,0] #.loc for label based indexing or
                #.iloc for positional indexing
s1

0     1
1     2
2     3
3     4
4     7
5    11
Name: col1, dtype: int64

### 9. Write a Pandas program to convert a given Series to an array.

In [119]:
se = pd.Series([100,200,'python',300.12,400])
se

0       100
1       200
2    python
3    300.12
4       400
dtype: object

In [120]:
a = np.array(se)   #  it can also be used a = np.array(se.values.tolist())

In [121]:
a

array([100, 200, 'python', 300.12, 400], dtype=object)

### 10. Write a Pandas program to convert Series of lists to one Series.

In [145]:
s = pd.Series([
    ['Red', 'Green', 'White'],
    ['Red', 'Black'],
    ['Yellow']])
print(s)
s.ndim

0    [Red, Green, White]
1           [Red, Black]
2               [Yellow]
dtype: object

1

In [143]:
s1 = s.apply(pd.Series).stack().reset_index(drop=True)

In [144]:
s1

0       Red
1     Green
2     White
3       Red
4     Black
5    Yellow
dtype: object

### 11. Write a Pandas program to sort a given Series.

In [159]:
se = pd.Series(['100','200','python','300.12','400'])
se

0       100
1       200
2    python
3    300.12
4       400
dtype: object

In [160]:
se1=pd.Series(se).sort_values()
se1

0       100
1       200
3    300.12
4       400
2    python
dtype: object

### 12. Write a Pandas program to add some data to an existing Series.

In [161]:
se

0       100
1       200
2    python
3    300.12
4       400
dtype: object

In [165]:
se.append(pd.Series(['500','700','1php']))

0       100
1       200
2    python
3    300.12
4       400
0       500
1       700
2      1php
dtype: object

### 13. Write a Pandas program to create a subset of a given series based on value and condition.

In [166]:
s = pd.Series([1,2,3,4,5,6,7,8,9])
s

0    1
1    2
2    3
3    4
4    5
5    6
6    7
7    8
8    9
dtype: int64

In [167]:
n=6 # value
s1 = s[s<n] #condition

In [168]:
s1

0    1
1    2
2    3
3    4
4    5
dtype: int64

### 14. Write a Pandas program to change the order of index of a given series.

In [184]:
se = pd.Series([1,2,3,4,5,6],index=['A','B','C','D','E','F'])

In [185]:
se

A    1
B    2
C    3
D    4
E    5
F    6
dtype: int64

In [186]:
se=se.reindex(index=['B','A','C','D','E','F'])

In [187]:
se

B    2
A    1
C    3
D    4
E    5
F    6
dtype: int64

### 15. Write a Pandas program to create the mean and standard deviation of the data of a given Series.

In [188]:
s = pd.Series([1,2,3,4,5,6,7,8,9,5,3])
s

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9     5
10    3
dtype: int64

In [189]:
s.mean()

4.818181818181818

In [190]:
s.std()

2.522624895547565